
@import '../../App.scss';


#event_grid_wrapper {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    min-height: 100%;
    padding: $padding_x;
    
    box-sizing: border-box;
}

.event_grid {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

#current_date {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
    width: 100%;
    background-color: white;
    z-index: 3;
    top: 0;
    position: sticky;
    h2 {
        text-align: center;
    }
}