
@import '../../App.scss';


#event_grid_wrapper {
    overflow: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
     
    height: auto;
    box-sizing: border-box;


  

    

}

.event_grid {
    width: 100%;
    max-width: 1300px;
    padding: $padding_x;
    box-sizing: border-box;
    margin: 20px 0px 100px 0px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));

    
    
    
    
    @media only screen and (max-width: 500px ) {
        
        grid-template-columns: 1fr;
        
    }
}

