@import '../../App.scss';


#topbar_wrapper {
     
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;

    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: calc($padding_x * 2) calc($padding_x * 4);
    box-sizing: border-box;
    justify-content: space-between;
    svg {
        margin: auto;
        color: white;
        }

    
    @media only screen and (max-width: 775px ) {
        flex-direction: row-reverse;
        padding:   calc($padding_x * 2)  ;

    
    }

    
}


#logo_wrapper {
    height: 100%;
    aspect-ratio: 350 / 100;
    background-image: url("/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
     



    @media only screen and (max-width: 1028px ) {
        aspect-ratio: 1;
        background-image: url("/Icon_only.png");
    }

    @media only screen and (max-width: 775px ) {
    
        height: 50px;
    }



}

#cart_icon_wrapper {
    position: relative;
    cursor: pointer;     
    margin-left: 182px;
     


    @media only screen and (max-width: 1028px ) {
        margin-left: 50px;
    }

    @media only screen and (max-width: 775px ) {
        position: absolute;
        bottom: 30px;
        right: 30px;
        margin: 0;
        background-color: $primary_color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        z-index: 5;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

#badge_count {
    background-color: red;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    

    @media only screen and (max-width:  775px ) {
        top: 0;
        right: 0;
    }
    
}

