



#image_wrapper {
    width: 100%;
    height: 100%;
    aspect-ratio: inherit;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio:inherit;

    }


}


#empty-placeholder {
    font-size: x-large;
}